<header>
    <img
    src="assets/img/William.png" 
    alt="William Moro - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager">

    <h1>William Moro</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Web - Angular | TypeScript | JavaScript | HTML | SCSS</p>
        <p>Novo Horizonte, SP</p>
        <p>Sou Desenvolvedor Web, atualmente programando com o framework Angular. Estou fazendo transição
            de carreira, meu maior é evoluir através dos desafios da programação e entregar softwares de 
            qualidade e escaláveis.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/curriculo_william.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/william-moro-3b4909184/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="assets/icons/whatsapp.svg" 
                alt="Ícone para contado do WhatsApp" 
                width="22px" 
                height="24px">
                <figcaption>
                    <a 
                        href="https://api.whatsapp.com/send?phone=5517991689805&text=Ol%C3%A1%20William,%20preciso%20de%20um%20job!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (17) 99168-9805</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                src="assets/icons/mail.svg" 
                alt="Ícone para contado do e-mail" 
                width="22px" 
                height="24px">
                <figcaption>
                    <a 
                        href="malito:williamjuan_16moro@icloud.com" 
                        target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>williamjuan_16moro&#64;icloud.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>