:root {
    --primary: #2b86ee;
    --primary-010: #0a64cc;
    --primary-020: #083c80;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #0c011d;
    --black-010: #47035e3a;
    --black-020: #e2effc;

    --grey: #e3e3e4;
    --grey-010: #201e20;
    --text-primary: #c1e8ff;
};